body {
  padding: 0; margin: 0;
  background-color: #000;
  font-family: sans-serif;
} 

#menu {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  padding:10px 15px;
  background-color: #a900ff;
  color: #fff;
}

#menu.hide {
  display: none;
}

#menu #info p {
  padding-left: 10px;
  font-size: 14px;
}

#menu #info span {
  font-weight: bold;
}

#songs {
  margin-top: 50px;
}

#songs label {
  display: block;
  margin: 10px;
  padding: 10px;
  background-color: #fd0082;
  cursor: pointer;
  text-align: center;
}

#songs input[type="radio"] {
  visibility: hidden;
  display: none;
  margin: 0;
}

#menu #upload {
  width: 225px;
  padding: 10px;
}

#upload input {
  width: inherit;
}

#menu #credits {
  margin-top: 50px;
  width: inherit;
  border-top: 1px solid;
  font-size: 12px;
}

#credits ul {
    padding: 0 20px;
    text-align: justify;
}

#credits ul li {
  margin-bottom: 5px;
}

/* Loader - from W3schools*/
#loader.hide {
  display: none;
}

#loader.show {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 10px solid #aba1a1;
  border-radius: 50%;
  border-top: 10px solid #8819ce;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webbkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% {-webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}